<h1>Nyx</h1>

<h2>Sub Systems</h2>
<% @iss.each do |s| %>
    <section>
      <h3><%= s.name %></h3>
      <pre><%= s.subsystem_status %></pre>
    </section>
<% end %>

<h2></h2>

<%= "Uptime: #{@uptime}" %>
