<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Nyx</title>
	
	
	<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	
	<script src="/javascripts/jquery-1.6.4.min.js" type="text/javascript"></script>
</head>
<body>

	<%= yield %>

	<footer>
		Nyx
	</footer>

</body>
</head>